body{
    background-image:-webkit-linear-gradient(60deg,rgba(218, 169, 215, 0.637),rgba(128, 174, 235, 0.904));
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    font-family: 'Arsenal', sans-serif;
}
h1 {
    color: #000000;
    margin-left: 30px;
    margin-top:40px;
    margin-bottom:40px;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
}
.ul-wrapper {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}
.elem-list {
    width: 500px;
    margin: 0 auto;
    list-style-type: none;
}
.elem-list img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}
.user-profile {
    color: #fff;
    margin-bottom: 0;
    margin-right: 16px;
    display: flex;
}
.user-profile::after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: #fff;
    margin-left: 16px;
}
.container-fluid {
    padding: 0 50px;
}
.nav-item {
    list-style-type: none;
    display: flex;
}
.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-family: 'Koulen', cursive;
}
.logout:hover {
    color: rgb(0, 174, 255);
    text-decoration: none;
}
.logout svg {
    margin-left: 8px;
    transition: .4s;
}
.logout:hover svg path {
    fill: rgb(0, 174, 255);
}
li {
    list-style-type: none;
}
button {
    font-family: sans-serif;
}
.btn-new-wrapp {
    width: 500px;
    margin: 0 auto;
}
.login-title {
    margin: 20px 0;
}
.auth-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 300px;
    align-items: center;
}
.auth-wrapp button {
    margin-top: 16px;
}
.auth-wrapp form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4 {
    font-family: 'Playfair Display', serif;
}