{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        <ul class="alert alert-success" role="alert">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="grad1"></div>
    <!-- <h1>It's just a simple blog on Django!</h1> -->
    <form method="POST" enctype="multipart/form-data">
        <p hidden>{% csrf_token %}</p> 
        {% if user.is_authenticated %}
        <div class="d-grid gap-2 btn-new-wrapp">
            <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">New post</button>
        </div>
        {% endif %}
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5>New post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <textarea class="form-control" id="message-text" name="text" placeholder="Type your message here.." required></textarea>
                    <input type="file" class="form-control-file" name="image">
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
            </div>
        </div>
        </div>
       
    </form>
    {% if context %} 
    <ul class="ul-wrapper">
        {% for post in context %} 
        <li class="elem-list">
        <hr>
        <a href='members/{{ post.username }}'>{{ post.username }}</a>
        {{ post.pub_date }}
        <br>
        {% if post.image %}
            <img src="{{ post.image.url }}">
        {% endif %}
        <h4>{{ post.text }}</h4>
        <br>
        </li>
        {% endfor %} 
    {% else %}
        <p>No posts yet..</p>
    {% endif %}
    </ul>


    <script src="../../static/js/script.js"></script>

{% endblock %}